{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Business and self-employed",
        href: "#"
      },
      {
        text: "Running a limited company",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/v3/start" method="post">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p>Use this service to find contact details or get support for your query. </p>
  

     
        <h3 class="govuk-heading-s">Before you start</h3>
        <p>You may find the answer to your query using our <a href="#" class="govuk-link">chatbot</a>. This is always available.</p>
     



     <!-- <p>You'll usually have the option to contact Companies House through an online form, email, webchat, chatbot, by phone or by post.</p>-->

<br>

      {{ govukButton({
        text: "Start now",
        href: "",
        isStartButton: true
      }) }}


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Find and update company information
              </a>
            </li>
            <li>
              <a href="#">
                Set up a private limited company
              </a>
            </li>
            <li>
              <a href="#">
                Running a limited company: your responsibilities
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
