{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Contact Companies House
      </h1>
      <p class="govuk-body-l">Get support and contact details for queries about Companies House services.</p>
     
      <div class="govuk-inset-text">
        <h3 class="govuk-heading-s">Before you contact us</h3>
        <p>You may find the answer to your query using our <a href="#" class="govuk-link">chatbot</a>. This is available 24 hours a day, 7 days a week.</p>
      </div>
    <h2 class="govuk-heading-l">
        Popular topics
      </h2>
  </div>
  <div class="govuk-grid-column-one-third">
      <p class="govuk-body">
        <a href="../option-two-v1/outcome-accounts.html" class="govuk-link">Filing company accounts</a>
      </p>
      <p class="govuk-body">
        <a href="../option-two-v1/generic-outcome.html" class="govuk-link">Registering a company</a>
      </p>
    </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body">
      <a href="#" class="govuk-link">Filing a confirmation statement</a>
    </p>
    <p class="govuk-body">
        <a href="../option-two-v1/generic-outcome.html" class="govuk-link">Closing a company</a>
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body">
      <a href="../option-two-v1/generic-outcome.html" class="govuk-link">Making an update to a company</a>
    </p>
    <p class="govuk-body">
        <a href="#" class="govuk-link">An issue with signing in</a>
    </p>
  </div>

  <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--visible">  
  </div>



<div class="govuk-grid-column-two-thirds govuk-!-padding-top-6">
  <h2 class="govuk-heading-l">
      Contact details and support
  </h2>
  <p class="govuk-body">
    Get contact details and support, such as phone number, email address and guidance pages, if you have a query about:
  </p>
  <h3 class="govuk-heading-m">
      Registering, closing or restoring a company
  </h3>
        <p class="govuk-body">
          <a href="../option-two-v1/register-outcome.html" class="govuk-link">Registering a company</a>
        </p>
        <p class="govuk-body">
          <a href="../option-two-v1/generic-outcome.html" class="govuk-link">Closing a company</a>
        </p>
        <p class="govuk-body">
          <a href="../option-two-v1/generic-outcome.html" class="govuk-link">Restoring a company</a>
        </p>
  <h3 class="govuk-heading-m">
      Filing for a company
  </h3>
          <p class="govuk-body">
            <a href="#" class="govuk-link"></a>
          </p>
          <p class="govuk-body">
            <a href="../option-two-v1/outcome-conf-stat.html" class="govuk-link">Confirmation statement</a>
          </p>
        </p>
        <p class="govuk-body">
          <a href="../option-two-v1/outcome-accounts.html" class="govuk-link">Company accounts</a>
        </p>
      </p>
      <p class="govuk-body">
        <a href="../option-two-v1/generic-outcome.html" class="govuk-link">Making an update to a company</a>
      </p>
    </p>
    <p class="govuk-body">
      <a href="../option-two-v1/outcome-track-filing.html" class="govuk-link">Tracking the progress of a filing</a>
    </p>
  </p>
  
          
          
  <h3 class="govuk-heading-m">
      Penalties or appeals
  </h3>
          <p class="govuk-body">
            <a href="../option-two-v1/outcome-appeal.html" class="govuk-link">Appealing a penalty</a>
          </p>
          <p class="govuk-body">
            <a href="../option-two-v1/generic-outcome.html" class="govuk-link">Paying a penalty</a>
          </p>
          <p class="govuk-body">
            <a href="../option-two-v1/generic-outcome.html" class="govuk-link">Requesting more time to file</a>
          </p>
  
  <h3 class="govuk-heading-m">
      Reporting an issue
  </h3>
        <p class="govuk-body">
          <a href="../option-two-v1/outcome-personal-details.html" class="govuk-link">A company is using my personal details without my permission</a>
        </p>
        <p class="govuk-body">
          <a href="../option-two-v1/generic-outcome.html" class="govuk-link">Reporting incorrect information on the register</a>
        </p>
        <p class="govuk-body">
          <a href="../option-two-v1/generic-outcome.html" class="govuk-link">There's a problem with my authentication code</a>
        </p>
        <p class="govuk-body">
          <a href="../option-two-v1/outcome-sign-in.html" class="govuk-link">An issue with signing in</a>
        </p>
        <p class="govuk-body">
          <a href="../option-two-v1/generic-outcome.html" class="govuk-link">A technical issue with making a payment</a>
       
        <h3 class="govuk-heading-m">
          Making a complaint
      </h3>
            <p class="govuk-body">
              <a href="../option-two-v1/generic-outcome.html" class="govuk-link">Objecting to a strike off</a>
            </p>
            <p class="govuk-body">
              <a href="../option-two-v1/outcome-company-complain.html" class="govuk-link">Making a complaint about a company</a>
            </p>
            <p class="govuk-body">
              <a href="../option-two-v1/generic-outcome.html" class="govuk-link">Making a complaint about Companies House</a>
            </p>
        
  <h3 class="govuk-heading-m">
      Something else
  </h3>
        <p class="govuk-body">
          <a href="../option-two-v1/outcome-something-else.html" class="govuk-link">I need support for something else</a>
        </p>
</div>

<div class="govuk-grid-column-one-third govuk-!-padding-top-6">
  <h2 class="govuk-heading-l">
        Related content
      </h2>
      <p class="govuk-body">
        <a href="https://find-and-update.company-information.service.gov.uk/" class="govuk-link">Search the register</a>
    </p>
    <p class="govuk-body">
        <a href="https://idam-ui.company-information.service.gov.uk/" class="govuk-link">Sign in to WebFiling</a>
    </p>
    <p class="govuk-body">
        <a href="https://www.gov.uk/government/organisations/companies-house/about/about-our-services" class="govuk-link">About our services</a>
    </p>
   
</div>

    
  </div>

{% endblock %}
