{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">
        Contact Companies House
      </h1>

      <p>
        Get support and contact details for queries about Companies House services.
      </p>

    <h2 class="govuk-heading-l">
        Quick links
      </h2>
  </div>
  <div class="govuk-grid-column-one-third">
      <p class="govuk-body">
        <a href="#" class="govuk-link">HTML example</a>
      </p>
      <p class="govuk-body">
        <a href="#" class="govuk-link">HTML example</a>
      </p>
    </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body">
      <a href="#" class="govuk-link">HTML example</a>
    </p>
    <p class="govuk-body">
        <a href="#" class="govuk-link">HTML example</a>
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <p class="govuk-body">
      <a href="#" class="govuk-link">HTML example</a>
    </p>
    <p class="govuk-body">
        <a href="#" class="govuk-link">HTML example</a>
    </p>
  </div>

  <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--visible">  
  </div>



<div class="govuk-grid-column-two-thirds govuk-!-padding-top-6">
  <h2 class="govuk-heading-l">
      Support and contact details
  </h2>
  <h3 class="govuk-heading-m">
      Registering a company
  </h3>
        <p class="govuk-body">
          <a href="#" class="govuk-link">HTML example</a>
        </p>
        <p class="govuk-body">
          <a href="#" class="govuk-link">HTML example</a>
        </p>
        <p class="govuk-body">
          <a href="#" class="govuk-link">HTML example</a>
        </p>
  <h3 class="govuk-heading-m">
      Filing for a company
  </h3>
          <p class="govuk-body">
            <a href="#" class="govuk-link">HTML example</a>
          </p>
          <p class="govuk-body">
            <a href="#" class="govuk-link">HTML example</a>
          </p>
  <h3 class="govuk-heading-m">
      Penalties or appeals
  </h3>
          <p class="govuk-body">
            <a href="#" class="govuk-link">HTML example</a>
          </p>
  <h3 class="govuk-heading-m">
      An issue with signing in
  </h3>
        <p class="govuk-body">
          <a href="#" class="govuk-link">HTML example</a>
        </p>
  <h3 class="govuk-heading-m">
      Closing or restoring a company
  </h3>
        <p class="govuk-body">
          <a href="#" class="govuk-link">HTML example</a>
        </p>
  <h3 class="govuk-heading-m">
      Report an issue or complain
  </h3>
        <p class="govuk-body">
          <a href="#" class="govuk-link">HTML example</a>
        </p>
  <h3 class="govuk-heading-m">
      Something else
  </h3>
        <p class="govuk-body">
          <a href="#" class="govuk-link">HTML example</a>
        </p>
</div>

<div class="govuk-grid-column-one-third govuk-!-padding-top-6">
  <h2 class="govuk-heading-l">
        Other column
      </h2>
      <p class="govuk-body">
        <a href="#" class="govuk-link">HTML example</a>
    </p>
    <p class="govuk-body">
        <a href="#" class="govuk-link">HTML example</a>
    </p>
    <p class="govuk-body">
        <a href="#" class="govuk-link">HTML example</a>
    </p>
    <p class="govuk-body">
        <a href="#" class="govuk-link">HTML example</a>
    </p>
</div>

    
  </div>

{% endblock %}
