{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{# {% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %} #}
{# SmartAnswer doesn't have back links #}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Business and self-employed",
        href: "#"
      },
      {
        text: "Running a limited company",
        href: "#"
      }
    ]
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
       Confirmation statement
      </h1>

      <h2 class="govuk-heading-l">Before you contact us</h2>

      <p>
        You may find the answer to your query in our guidance:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/confirmation-statement-guidance">Filing your company's confirmation statement</a>
        </li>
        <li>
    <a class="govuk-link" href="https://www.gov.uk/running-a-limited-company/confirmation-statement">Running a limited company: your responsibilities</a>
  </li>
</ul>

<p>You can also <a href="https://performance-analytics.companieshouse.gov.uk/dashboard/paper-processing-dates.shtml" class="govuk-link">check current paper processing dates</a> to find out when you can expect confirmation statements filed on paper to be processed.
</p>



<h2 class="govuk-heading-l">If you still need help</h2>
<p class="govuk-body">You can contact us in one of the following ways:
        </p>

        <h2 class="govuk-heading-m">Live chat</h2>
        <p class="govuk-body">Our <a href="#" class="govuk-link">live chat</a> service is available between 8:30am and 6pm, Monday to Friday. We'll connect you to one of our advisors.
        </p>

        <h2 class="govuk-heading-m">Online form</h2>
        <p class="govuk-body">You can use this <a href="#" class="govuk-link">online form</a> to ask your query. We'll respond by email, usually within 2 working days.
        </p>

<h2 class="govuk-heading-m">Phone</h2>
<p class="govuk-body">Companies House <br>
  Telephone: 0303 1234 500 <br>
  <a href="https://www.relayuk.bt.com/" class="govuk-link">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0300 373 0995</a><br>
  Monday to Friday, 8:30am to 6pm <br><br>
  <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p> 

<h3 class="govuk-heading-s">British Sign Language (BSL) video relay service</h3>
<p class="govuk-body">To use the BSL video relay service you must:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>first <a href="https://www.gov.uk/guidance/using-british-sign-language-to-contact-companies-house" class="govuk-link">check you can use the service</a></li>
  <li><a href="https://service.signvideo.uk/webrtc//#/oneclickcall?dD1jb21wYW5pZXNob3VzZUBzaWdudmlkZW8udWsmdT1hbm9ueW1vdXMmcD1hbm9ueW1vdXM=" class="govuk-link">go to the video relay service</a></li>
</ul>

<p>The video relay service uses a free plugin. You may need to change the security settings on your device to install this.</p>


    

    </div>

    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related topics</h3>
        <p class="govuk-body"><a href="/v2/outcome-accounts" class="govuk-link">Company accounts</a></p>
        <p class="govuk-body"><a href="/v2/generic-outcome" class="govuk-link">Change or update to a company</a></p>
        <p class="govuk-body"><a href="/v2/outcome-track-filing" class="govuk-link">Tracking the progress of a filing</a></p>
        <p class="govuk-body"><a href="/v2/outcome-sign-in" class="govuk-link">An issue with signing in</a></p>
      </div>
    </div>


  </div>

  

{% endblock %}
