{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{# {% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %} #}
{# SmartAnswer doesn't have back links #}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Business and self-employed",
        href: "#"
      },
      {
        text: "Running a limited company",
        href: "#"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <form class="form" action="/outcome-personal-details" method="post">


      <h1 class="govuk-heading-xl">
        Reporting a company using my personal details without permission
      </h1>

      <h2 class="govuk-heading-l">How to report an issue</h2>

      <p>
        
        Use the <a class="govuk-link" href="https://submit.forms.service.gov.uk/preview-draft/3247/report-that-a-company-has-used-your-name-and-or-address-without-your-permission/11319">online form to report if your personal details have been used without permission</a>. </p>
        
        <p>We'll ask about the details being used without permission and the company (or companies) using them. If you're reporting an address, we'll also ask for evidence showing that it's your address.</p>

        <p> For more information, read the <a class="govuk-link" href="/v5/report-details-guidance">guidance on reporting a company using your personal details without your permission</a>.</p>
                
    

        <h2 class="govuk-heading-l">If you need help</h2>

        <div class="govuk-inset-text"><p>The only way you can report a company using your personal details without permission is by using the <a class="govuk-link" href="https://submit.forms.service.gov.uk/preview-draft/3247/report-that-a-company-has-used-your-name-and-or-address-without-your-permission/11319">online form to report the issue</a>.</p></div>

        <p>If you need help with the online form you can contact us in one of the following ways: </p>
        
        <h2 class="govuk-heading-m">Live chat</h2>
        <p class="govuk-body">We'll connect you to one of our <a href="#" class="govuk-link">live chat</a> customer service advisors. Live chat is available between 8:30am and 6pm, Monday to Friday.
        </p>
        
        <h2 class="govuk-heading-m">Phone</h2>

        <p class="govuk-body">
          Telephone: 0303 1234 500 <br><br>
          <a href="https://www.relayuk.bt.com/" class="govuk-link">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0300 373 0995</a><br>
          Monday to Friday, 8:30am to 6pm <br><br>
          <a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p> 
        
        <h3 class="govuk-heading-s">British Sign Language (BSL) video relay service</h3>
        <p class="govuk-body">To use the BSL video relay service you must:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>first <a href="https://www.gov.uk/guidance/using-british-sign-language-to-contact-companies-house" class="govuk-link">check you can use the service</a></li>
          <li><a href="https://service.signvideo.uk/webrtc//#/oneclickcall?dD1jb21wYW5pZXNob3VzZUBzaWdudmlkZW8udWsmdT1hbm9ueW1vdXMmcD1hbm9ueW1vdXM=" class="govuk-link">go to the video relay service</a></li>
        </ul>
        
<p>The video relay service uses a free plugin. You may need to change the security settings on your device to install this.</p>
        
        
        
              <h2 class="govuk-heading-l">Your answers</h2>
        <p class="govuk-body"><a href="#" class="govuk-link">Start again</a>
        </p>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      1. What do you need to contact Companies House about?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Reporting an issue or making a complaint
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      2. What do you need help with?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Reporting a company using my personal details without permission
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                  </div>
        
            </div>
<div class="govuk-grid-row">
      
      <div class="govuk-grid-column-one-third">
        <h3 class="govuk-heading-m">Related topics</h3>
        
        <p class="govuk-body"><a href="../outcomes/outcome-incorrect-info" class="govuk-link">Reporting incorrect information on the register</a></p>
        <p class="govuk-body"><a href="../outcomes/outcome-company-complain" class="govuk-link">Making a complaint about a company</a></p>
        <p class="govuk-body"><a href="../outcomes/outcome-objecting-strike-off" class="govuk-link">Objecting to a strike off</a></p>
    </div>



          </div>
        
        {% endblock %}
        