{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{# {% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %} #}
{# SmartAnswer doesn't have back links #}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Business and self-employed",
        href: "#"
      },
      {
        text: "Running a limited company",
        href: "#"
      }
    ]
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Appealing a penalty
      </h1>

      <p>
        To appeal a penalty, use our <a class="govuk-link" href="https://www.gov.uk/appeal-a-penalty-for-filing-your-company-accounts-late">Appeal a penalty for filing your company accounts late service</a>.</p>
        <p>
          You can also check the <a class="govuk-link" href="https://www.gov.uk/government/publications/late-filing-penalties/late-filing-penalties">Late filing penalties guidance</a>.</p>

        <h2 class="govuk-heading-m">Contact details</h2>

        <p class="govuk-body">If you are still need help, you can contact us.
        </p>
        
        <h3 class="govuk-heading-s">Webchat</h3>
        <p class="govuk-body">Our <a href="#" class="govuk-link">webchat</a> service is available between 8:30am and 6pm, Monday to Friday.
        </p>
        
        <h3 class="govuk-heading-s">Email</h3>
        <p class="govuk-body">Email us a <a href="#" class="govuk-link">webform</a> to ask your query about appealing a penalty.
        </p>
        
        <h3 class="govuk-heading-s">Phone</h3>
        <div class="govuk-inset-text">
          <p class="govuk-body govuk-!-margin-bottom-0">Companies House </p>
          <p class="govuk-body govuk-!-margin-bottom-0">Telephone: 0303 1234 500 </p>
          <p class="govuk-body govuk-!-margin-bottom-0"><a href="https://www.relayuk.bt.com/" class="govuk-link">Relay UK</a> (if you cannot hear or speak on the phone): 18001 then 0300 373 0995</a></p>
          <p class="govuk-body govuk-!-margin-bottom-0">Monday to Friday, 8:30am to 6pm </p>
          <p class="govuk-body"><a href="https://www.gov.uk/call-charges" class="govuk-link">Find out about call charges</a></p> 
        </div>
        
        
        <h3 class="govuk-heading-s">Post</h3>
        <p>You can also <a href="https://www.gov.uk/government/organisations/companies-house/about/access-and-opening" class="govuk-link">write to Companies House</a>, but you’ll usually get a faster response by using webchat, sending an email or phoning us.</p>
       
        
        
        
        
        
        
        
        
              <h2 class="govuk-heading-m">Your answers</h2>
        <p class="govuk-body"><a href="#" class="govuk-link">Start again</a>
        </p>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      1. What do you need to contact Companies House about?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Penalties and appeals
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                  </div>
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                      2. What do you need help with?
                    </dt>
                    <dd class="govuk-summary-list__value">
                      Appealing a penalty
                    </dd>
                    <dd class="govuk-summary-list__actions">
                      <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
                    </dd>
                  </div>
        
            </div>
          </div>
        
        {% endblock %}
        