{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{# {% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %} #}
{# SmartAnswer doesn't have back links #}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Business and self-employed",
        href: "#"
      },
      {
        text: "Running a limited company",
        href: "#"
      }
    ]
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
       Filing a confirmation statement
      </h1>

      <p>
        Before you contact us, you may find the answer to your query in our guidance:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a class="govuk-link" href="https://www.gov.uk/guidance/confirmation-statement-guidance">Filing your company's confirmation statement</a>
        </li>
        <li>
    <a class="govuk-link" href="https://www.gov.uk/running-a-limited-company/confirmation-statement">Running a limited company: your responsibilities</a>
  </li>
</ul>

<h2 class="govuk-heading-m">When to contact Companies House</h2>
<p>
        Wait for the processing time before contacting Companies House
      </p>

<table class="govuk-table">
  
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Type of application</th>
      <th scope="col" class="govuk-table__header">Processing time</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">First thing</td>
      <td class="govuk-table__cell">2 weeks</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Something else</td>
      <td class="govuk-table__cell">3 weeks</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">Another thing</td>
      <td class="govuk-table__cell">6 to 8 weeks</td>
    </tr>
  </tbody>
</table>


<h2 class="govuk-heading-m">By webchat</h2>
<p class="govuk-body"><a href="#" class="govuk-link">Use the webchat service</a> to contact Companies House about registering a company.
</p>

<h2 class="govuk-heading-m">By phone</h2>
<div class="govuk-inset-text">
  <p class="govuk-body govuk-!-margin-bottom-0">Companies House enquiries </p>
  <p class="govuk-body govuk-!-margin-bottom-0">Telephone: 0300 123 4567 </p>
  <p class="govuk-body govuk-!-margin-bottom-0">British Sign Language (BSL) <a href="#" class="govuk-link">video relay service</a> if you're on a computer - find out how to <a href="#" class="govuk-link">use the service on a mobile or tablet</a></p>
  <p class="govuk-body govuk-!-margin-bottom-0">Monday to Friday, 8am to 7pm </p>
  <p class="govuk-body govuk-!-margin-bottom-0">Saturdays, 8am to 2pm</p>
  <p class="govuk-body"><a href="#" class="govuk-link">Find out about call charges</a></p> 
</div>


<h2 class="govuk-heading-m">By email</h2>
<p class="govuk-body"><a href="#" class="govuk-link">Use this webform</a> to contact Companies House about registering a company.
</p>

<h2 class="govuk-heading-m">By post</h2>
<div class="govuk-inset-text">
  <p class="govuk-body govuk-!-margin-bottom-0">Companies House customer services</p>
  <p class="govuk-body govuk-!-margin-bottom-0">A street address </p>
  <p class="govuk-body govuk-!-margin-bottom-0">City</p>
  <p class="govuk-body govuk-!-margin-bottom-0">Post code</p>
  
</div>




      <h2 class="govuk-heading-m">Your answers</h2>
<p class="govuk-body"><a href="#" class="govuk-link">Start again</a>.
</p>
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              1. What do you need to contact Companies House about?
            </dt>
            <dd class="govuk-summary-list__value">
              Filing for a company
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              2. What do you need help with?
            </dt>
            <dd class="govuk-summary-list__value">
              Confirmation statement
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
            </dd>
          </div>

    </div>
  </div>

{% endblock %}
