{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{# {% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %} #}
{# SmartAnswer doesn't have back links #}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Business and self-employed",
        href: "#"
      },
      {
        text: "Running a limited company",
        href: "#"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      

      <form class="form" action="question-one" method="post">
      {# Need to create dynamic routing from each radio #}

{# Smart answers makes use of numbers before questions on question pages and captions above #}
       <span class="govuk-caption-xl">Contact Companies House</span>
          {{ govukRadios({
  name: "whatDoYouNeed",
  fieldset: {
    legend: {
      text: " 1. What do you need to contact Companies House about?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "register",
      text: "Registering a company"
    },
    {
      value: "filing",
      text: "Filing for a company"
    },
    {
      value: "closingAndRestoring",
      text: "Closing or restoring a company"
    },
    {
      value: "penalties",
      text: "Penalties, fines or appeals"
    },
    {
      value: "report",
      text: "Reporting an issue or making a complaint"
    },
    {
      value: "somethingElse",
      text: "Something else"
    }
  ]
}) }}
        

        {{ govukButton({
          text: "Next step"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
