{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ serviceName }} </span>
      <h1 class="govuk-heading-xl">Design history - work in progress</h1>

      <p class="govuk-body">This page shows the history of the design of the {{ serviceName }} service.</p>

      <h2 class="govuk-heading-m">Version 4 (incomplete, to be expanded)</h2>
      <ul class="govuk-list govuk-list--bullet">
      <li>Changes to groupings and structure following card sorting UR and v3 UR</li>
      <li>Organised pages into folders and updated routing</li>
      </ul>


      <h2 class="govuk-heading-m">Version 3</h2>
      <ul class="govuk-list govuk-list--bullet">
          <li>Focused on creating and testing GOV Forms - created general enquiries form and Share Capital form </li>
          <li>Created Share Capital outcome pages and included reference numbers for phone number</li>
        </ul>



      <h2 class="govuk-heading-m">Version 2</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li> </li>
        </ul>
      
    <h2 class="govuk-heading-m">Version 1 - October 2024</h2>
      <ul class="govuk-list govuk-list--bullet">
         
          <li>First version of triage style site, designed to be in keeping with SmartAnswers style after UX review work. SmartAnswers is a GDS publishing tool and would mean we could build the triage without significant dev resource. Alternatively, we would also be able to develop a service in this style if GDS couldn't or we decided we wanted to.  </li>
          <li>SmartAnswers consists of a start page, question pages, and outcome pages </li>
          <li>First version had 5 categories (registering for a company; filing for a company; closing or restoring a company; penalties, fine or appeals; reporting an issue or making a complaint) on first question page and 'something else'</li>
          <li> </li>
      </ul>
       
      

</div>
</div>


{% endblock %}
