{% extends "layouts/main.html" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ serviceName }} </span>
      <h1 class="govuk-heading-xl">Design history</h1>

      <p class="govuk-body">This page shows the history of the design of the {{ serviceName }} service.</p>
      <p class="govuk-body">You can find links to the UR murals on the index of each version. The mural of round 4 for card sorting is linked on the main index page.</p>

      <h2 class="govuk-heading-m">Version 4 </h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Made changes to groupings and structure of triage following card sorting user research</li>
        <li>Cut the 'Track the progress of a filing' option on first question page</li>
        <li>Created new 'Technical support' option on first question page - previously included under 'Reporting an issue or making a complaint'</li>
        <li>Split 'Filing for a company' into two groups: 'Company accounts and confirmation statement' and 'Updating company information'</li>
        <li>Some content changes to first question page categories</li>
        <li>Changes to groupings and structure following card sorting UR and v3 UR</li>
        <li>Organised pages into folders and updated routing</li>
        <li>User testing... round 5</li>
      </ul>

      <p class="govuk-heading-s">Version 4 - round 2 </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Using V4 for a second round of testing but with unfamiliar/novice users and different scenarios</li>
        <li>Minimal changes - all content, no major design or structural changes to triage process</li>
        <li>Scenarios: reporting misuse of an address without permission</li>
        
        </ul>

        <h2 class="govuk-heading-m">User testing round 4 - card sorting exercise</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Card sorting exercise with 6 users to test the groupings and structure of the triage - no use of the prototype</li>
        <li>To gain insight on how users would categorise CH topics</li>
      </ul>


      <h2 class="govuk-heading-m">Version 3</h2>
      <ul class="govuk-list govuk-list--bullet">
          <li>Focused on creating and testing GOV Forms - created general enquiries form and Share Capital form </li>
          <li>Link to share capital form preview</li>
          <li>Link to general enquiries form preview</li>
          <li>Note that Gov Forms are not versioned and we have since made updates, so the forms will/may have been updated since this round of user testing. You can see the forms in the state they were tested in the mural for this round.</li>
          <li>Created Share Capital outcome pages and included reference numbers for phone number</li>
          <li>User testing scenarios: share capital form has been rejected, something else - to test both forms. Not all users made it to the general enquiries form.</li>
        </ul>



      <h2 class="govuk-heading-m">Version 2</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Added sixth category to first question page - checking the progress of a filing or query</li>
          <li>Outcome pages: added complain about a company</li>
          <li>UR R2 scenarios: appeal a penalty, problem with signing in</li>
        </ul>
      
    <h2 class="govuk-heading-m">Version 1 - October 2024</h2>
      <ul class="govuk-list govuk-list--bullet">
         
          <li>First version of triage style site, designed to be in keeping with SmartAnswers style after UX review work. SmartAnswers is a GDS publishing tool and would mean we could build the triage without significant dev resource. Alternatively, we would also be able to develop a service in this style if GDS couldn't or we decided we wanted to.  </li>
          <li>SmartAnswers consists of a start page, question pages, and outcome pages </li>
          <li>First version had 5 categories (registering for a company; filing for a company; closing or restoring a company; penalties, fine or appeals; reporting an issue or making a complaint) on first question page and 'something else'</li>
          
      </ul>
       
      

</div>
</div>


{% endblock %}
