{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <p class="govuk-body"><a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1730200318654/c6711bb189e99507844d5015b001b7e7e90e9217?sender=ub36768ef277a25eb48103026" class="govuk-link">Link to Mural with journey flow</a>.
    </p>
    <h2 class="govuk-heading-m govuk-!-padding-top-4">
      Prototypes
    </h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Version</th>
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
 
   <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v1/index-v1">V1</a>
          </td>
          <td class="govuk-table__cell">
            October 2024
          </td>
          <td class="govuk-table__cell">
             <strong class="govuk-tag govuk-tag--green">
             Tested
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v2/index-v2">V2</a>
          </td>
          <td class="govuk-table__cell">
            November 2024
          </td>
          <td class="govuk-table__cell">
             <strong class="govuk-tag govuk-tag--red">
             Not tested
            </strong>
          </td>
        </tr>
        </tbody>
    </table>

    

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
