{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    <h2 class="govuk-heading-s govuk-!-padding-top-4">
      Useful links
    </h2>

    <p class="govuk-body"><a href="https://companieshouse.atlassian.net/wiki/spaces/UCD/pages/5183537171/Contact+Centre+Service+-+UCD+Documentation" class="govuk-link">Link to Confluence documentation</a>
    </p>

    <p class="govuk-body"><a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1720685338508">Link to project Mural</a>
    </p>

    <p class="govuk-body"><a href="/design-history">Design history</a>
    </p>
  
    <h2 class="govuk-heading-s govuk-!-padding-top-4">
      Round 4 User Testing - Card sorting
    </h2>

    <p class="govuk-body"><a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1738068530690/6d142a4178f00497a2657603e7bf0b54d45b1212" class="govuk-link">Link to Mural with round 4 notes</a>
    </p>
    <p class="govuk-body"><a href="https://app.mural.co/t/companieshouse8589/m/companieshouse8589/1738680787154/9f3e28e046833d17e82357b7673effcc634c97d1" class="govuk-link">Link to Mural with round 4 user groups</a>
    </p>


    <h2 class="govuk-heading-m govuk-!-padding-top-4">
      SmartAnswer style Prototypes
    </h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Version</th>
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
 
   <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v1/index-v1">V1</a>
          </td>
          <td class="govuk-table__cell">
            October 2024
          </td>
          <td class="govuk-table__cell">
             <strong class="govuk-tag govuk-tag--green">
             Tested
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v2/index-v2">V2</a>
          </td>
          <td class="govuk-table__cell">
            November 2024
          </td>
          <td class="govuk-table__cell">
             <strong class="govuk-tag govuk-tag--green">
             Tested
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v3/index-v3">V3</a>
          </td>
          <td class="govuk-table__cell">
            December 2024
          </td>
          <td class="govuk-table__cell">
             <strong class="govuk-tag govuk-tag--green">
            Tested
            </strong>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v4/index-v4">V4</a>
          </td>
          <td class="govuk-table__cell">
            December 2024
          </td>
          <td class="govuk-table__cell">
             <strong class="govuk-tag govuk-tag--green">
             Tested
            </strong>
          </td>
        </tr>
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="v5/index-v5">V5</a>
          </td>
          <td class="govuk-table__cell">
            March 2025
          </td>
          <td class="govuk-table__cell">
             <strong class="govuk-tag govuk-tag--red">
             Not tested
            </strong>
          </td>
        </tr>
        </tbody>
    </table>

    <h2 class="govuk-heading-m govuk-!-padding-top-4">
      Option Two Prototypes
    </h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Version</th>
          <th class="govuk-table__header" scope="col">Date</th>
          <th class="govuk-table__header" scope="col">Status</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
 
   <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="/option-two-v1/contact-and-support">V1</a>
          </td>
          <td class="govuk-table__cell">
            November 2024
          </td>
          <td class="govuk-table__cell">
             <strong class="govuk-tag govuk-tag--red">
             Not tested
            </strong>
          </td>
        </tr>
        
        </tbody>
    </table>

    

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

{% endblock %}
